<div class="header-wrapper">
	
	<div class="header-logo">
		<div class="header-options">
		</div>
	</div>

	<div class="header-items">
		<div class="header-options">
		<a href="#!/" >
			<i class="fa fa-home" aria-hidden="true"></i>
			<span>Home</span>
		</a>
		</div>
		<div class="header-options">
			<a href="#!/search" >
				<i class="fa fa-search" aria-hidden="true"></i>
				<span>Search</span>
			</a>
		</div>
		<div class="header-options">
		<a href="#!/orders" >
			<i class="fa fa-cart-plus"></i>
			<span>Orders</span>		
		</a>
		</div>
	</div>


</div>