.modal-wrapper{
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}

.modal-image{
	width: 60%;
	height: 100%;
	margin: auto;

}

.modal-image > img{
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: auto;
}
.modal-data{
	text-align: center;
}

.modal-data-items {
	padding: 5px;
}

.modal-data-items > div{
	display: inline-block;
}

.menu{
	width: 50%;
}

.menu > span{
	text-transform: uppercase;
	font-weight: bolder
}

.modal-data-items  > input{
width: 15%;
display: inline-block;
text-align: center;
} 

.hide{
	display: none;
}

@media only screen and (max-width: 480px) {
.btn{
	padding: 0px 6px;
}
.menu > span{
	font-style: 12px;
}
.modal-data-items  > input{
width: 20%;
} 
.modal-image {
	display: none
}

}