<div class="home">
<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
	<h1>Exclusive Offers Only For You!</h1>
            <slick slides-to-show="4" slides-to-scroll="1" autoplay="false" dots="true" arrows="true" responsive="breakpoints">
                <div class="carousel-images" ng-repeat="image in images">
                    <img ng-src="{{image.url}}">
					<div class="hotel-name">{{image.Name}}</div>
					<div class="cuisine-type">{{image.Cuisine}}</div>
					<button class="btn btn-default" ng-click="open(this.image)">Order Now</button>
                </div>
            </slick>
        </div>

</div>
